.blog {
    .audio {
        position: relative;
        span {
            display: inline-block;
            position: relative;
            margin-right: 29px;
            font-size: 25px;
            font-weight: bold;
            color: white;
        }
        background-color: $bt-brand-tertiary;
        padding:40px 80px;
        audio {
            position: absolute;
            height:52px;
            bottom:35px;
            left:260px;
        }
    }
    .about-author {
        padding-left: 34px;
        border-left: 2px solid $bt-brand-primary;
        .avatar {
            width: 104px;
            height: 104px;
            border-radius: 52px;
        }
        .title {
            font-size: 21px;
            font-weight: 600;
        }
        .text {
            font-weight: 500;
        }
    }
    .block-quotation {
       background-color: rgba(102, 51, 255, 0.05);
        text-align: center;
        padding:24px 120px;
        font-weight: 500;
        color: $bt-brand-primary;
    }
    @media screen and (min-width: 768px) {
        .block-quotation {
            padding: 24px 24px;
        }
    }
    min-height: calc(100vh - 448px);
    pre {
        border-radius: 10px;
        background: #212121;
        color: #fff;
        padding: 10px;
        font-size: 14px;
    }
    img {
        max-width: 100%;
    }
    a {
        font-weight: bold;
        color: $bt-brand-tertiary;
    }
    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
    .author {
        font-size: 14px;
        line-height: 20px;
        .date {
            color: #666;
        }
    }
    font-size: 18px;
    color: $bt-brand-primary-dark;
    line-height: 1.58;
    text-rendering:optimizelegibility;
    word-break:break-word;
    -webkit-font-smoothing:antialiased;
    color: rgba(0, 0, 0, 0.84);
    h1, h2, h3, p,a  {
        color: rgba(0, 0, 0, 0.84);
    }
    h1, h2 {
        margin-block-end: 16px;
    }
    h2 {
        margin-block-start: 40px;
    }
    h3 {
        margin-block-start: 30px;
        margin-block-end: 12px;
    }
    a {
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: rgba(0, 0, 0, 0.84);
        }
    }
    .blog-image {
        margin-bottom: 30px;
    }
}

.blog-item {
    border-bottom: 2px solid #979797;
    margin-bottom: 64px;
    padding-bottom: 32px;
    .avatar {
        border: 8px solid #EAE7F6;
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
    .avatar-small {
        border: 6px solid #EAE7F6;
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }

    .title {
        font-weight: bold;
        font-family: $font-family-alt;
        line-height: 18px;
        margin-top: 3px;
        color: $bt-brand-primary-dark;
        font-size: 24px;
    }
    .blog-item-content {
        padding-bottom: 20px;
    }
    h1, h2, h3, a  {
        color: rgba(0, 0, 0, 0.84);
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    .date {
        color: #666;
        font-size: 16px;
    }
}

.post-summary {
    font-size: 21px;
    font-weight: 500;

}
strong.post-summary {
    font-weight: bold;
}
.blog-tag {
    padding:5px 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size:16px;
    background-color: #333;
    color: white;
    font-weight: bold;
    &.javascript {
        background-color: #f6de1d;
        color: black;
    }
    &.java {
        background-color: #f1f1f1;
        color: #027089;
    }
    &.testing {
        background-color: #f1f1f1;
        color: #333;
    }
    &.react {
        background-color: #222222;
        color: #60daf6;
    }
    &.react-native {
        background-color: #0ec7f8;
        color: #fff;
    }
    &.continuous_integration,&.ci,.testing {
        background-color: #40af63;
        color: #fff;
    }
    &.webdev {
        background-color: #4c235a;
        color: #fff;
    }
    &.new-feature, &.release {
        background-color: $bt-brand-tertiary;
        color: #fff;
    }
    &.podcast {
        background-color: $bt-brand-primary;
        color: #fff;
    }
    &.productivity {
        background-color: #af5300;
        color: #fff;
    }
    &.infrastructure {
        background-color: #af851d;
        color: #fff;
    }
    &.python {
        background-color: #356fa0;
        color: #f8c93f;
    }
    &.bullet-train,&.flagsmith {
        background-color: $bt-brand-primary;
        color: white;
    }
    &.customer-story {
        background-color: $bt-brand-secondary;
        color: white;
    }
    &.thoughts {
        background-color: #f6f6f6;
        color: $body-text;
    }
    &.docker {
        background-color: white;
        color: #2395ec;
        border: 1px solid #eaeaea;
    }
    &:hover {
        text-decoration: underline;
    }
}


.player-panel {
    background-color: #FAF7FF;
    font-size: 24px;
    .episode-number {
        color: $brand-primary;
    }
    .duration {
        font-size: 16px;
        color: $bt-brand-primary-dark;
    }
    .play-button {
        background-color: #EAE7F6;
        width: 90px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        .play-button-container {
            width: 32px;
            height: 32px;
            padding: 5px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brand-primary;
            svg {
                height: 20px;
                margin-left: 2px;
                path {
                    fill: #EAE7F6;
                }
            }
        }
    }
}
