.hero-example--landing {
    top: 50% !important;
    transform: translateY(-50%);
    right: 0;
}

.item__link {
    text-decoration: underline;
    color: $body-text-faint;
}

.section--wave.wave-quote::before {
    top: 0;
    height: 100%;
}