.section {
    &--white {
        background-color: white;
        z-index: 999999999;
        padding-bottom: 3em;
    }
    &--grey {
        background-color: $bt-brand-faint-alt;
    }
    &--wave {
        &__title {
            padding-top: 3em;
        }
        &:before {
            content: "";
            position: absolute;
            //top: 100%;
            //left: 0;
            height: 270px;
            width: 100%;
            background: url(/static/images/workflow/wave.svg) top center;
            background-size: cover;
            z-index: -1;
        }
    }
    &--blue {
        background-color: $bt-brand-secondary;
        //-webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        //clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        h2 {
            color: white;
        }
        p {
            color: #A1AEB7;
        }
    }
}

.svg {
    &__wave {
        position: absolute;
        top: 30em;
    }
}

.features-page {
    h1 {
        font-size: 4em !important;
    }
    h2 {
        font-size: 3em;
    }
}


//@media (min-height: 926px) and (max-height: 1130px)  {
//    .section {
//        &--wave {
//            &:before {
//                top: 84%;
//            }
//        }
//    }
//}
//
//@media (min-height: 1130px) and (max-height: 3000px)  {
//    .section {
//        &--wave {
//            //background-color: red;
//            &:before {
//                top: 65%;
//            }
//        }
//    }
//}
