.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-cta {
  padding-top: 10px;

  .btn {
    @extend .btn;
    //width: 300px;
  }

  p {
    margin-top: 10px;
  }
}
.hero {
  min-height: calc(100vh);
  button {
    height: 50px;
  }
  .hero-inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $bt-brand-secondary-light;
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
  }
  .companies {
    padding: 40px 0;
    background-color: white;
    img {
      &.pad {
        padding: 10px;
      }
      width: 90px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      width: 100%;
      color: $body-text;
    }
    .row > div {
      margin: 0 auto;

    }

    a {
      color: #22354a;
      font-weight: bold;
    }
  }
}

.hero {
  color: white;
  button.btn {
    font-size: 1.2em !important;
  }
  h1,p {
    color: white;
  }
  h1 {
    font-size: 46px;
  }
  p {
    width: 65%;
    font-size: 22px;
    line-height: 2;
  }
  &--homepage {
    .hero-example {
      font-size: 14px;
      position: absolute;
      top: 200px;
      right: 10%;
      z-index: 1000000;
      p {
        font-size: 14px;
        width: 100%;
      }

      .line-1{
        display: inline-block;
        position: relative;
        width: 9em;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }

      /* Animation */
      .anim-typewriter{
        animation: typewriter 3s steps(44) 500ms 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
      }
      .anim-typewriter-after {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
      }
      @keyframes typewriter{
        from{width: 9em;}
        50%{width: 24.75em;}
        70%{width: 24.75em;}
        90%{width: 9em;}
        to{width: 9em;}
      }
      @keyframes blinkTextCursor{
        from{border-right-color: rgba(255,255,255,.75);}
        to{border-right-color: transparent;}
      }
      .card-body {
        width: 420px;
        font-size: 14px;
      }
    }
    .hero-illustration {
      position: absolute;
      height: 420px;
      right: 3%;
      top: 24%;
      z-index: 100000000;
    }
  }
}

.open-source {
  z-index: 1000000;
  color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 40px;
  left:40px;
  right: auto;
  div {
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    color: rgb(90, 94, 99);;
    img {
      opacity: 1;
      height: 22px;
      margin-bottom: 3px;
      fill: white;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1070px) and (max-width: 1270px) {
  .hero {
    &--homepage {
      .white {
        left: -210rem !important;
      }
      .hero-illustration {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1070px) {

  .hero-example {
    display: none;
  }
  .hero {
    &--homepage {
      .hero-illustration {
        display: none;
      }
    }
  }
}

.collapse.show {
  .nav-item {
    margin-top: 20px;
    .nav-link-featured {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .hero {

    .hero-example {
      display: none;
    }
    p {
      width: 100%;
    }
    &--homepage {
      .white {
        left: -200rem !important;
        bottom: -240rem !important;
      }
      .companies{
        bottom: -40px;
      }
      .hero-illustration {
        display: none;
      }
    }
    &--features-page {
      height: 520px;
      background-color: $hero-bg;

      .hero-illustration {
        position: absolute;
        top: 0em;
        right: -28em;
      }
    }
  }
}


