@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Light.ttf');
  font-weight: 100;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Light.ttf');
  font-weight: 200;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Light.ttf');
  font-weight:bold;
  font-display:swap;
}


@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Bold.ttf');
  font-weight:bold;
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-SemiBold.ttf');
  font-weight:500;
  font-display:swap;
}



@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Bold.ttf');
  font-weight:600;
  font-display:swap;
}



//Fonts
$font-family: "OpenSans", sans-serif;
$font-family-headers: 'OpenSans', sans-serif;

// COLORS

$brand-primary: #6633ff;
$bt-brand-primary: #6633ff;
$bt-brand-primary-light: lighten($bt-brand-primary,0.3);
$bt-brand-primary-lighter: lighten($bt-brand-primary,0.7);
$bt-brand-faint: #f3ecff;
$bt-brand-faint-alt: #fcfaff;
$bt-brand-faint-hover: #eee7f6;


$bt-brand-secondary: #f27157;
$bt-brand-secondary-light: #f6a999;
$bt-brand-secondary-hover: #e3674d;
$bt-brand-secondary-active: #e3674d;
$primary-dark: #17103a;

$body-text: #242039;
$body-text-faint: #716E86;

$header-color: $body-text;
$link-color: $body-text;
$link-color-hover: $bt-brand-primary;
$nav-link-color: $body-text;
$nav-link-color-hover: $bt-brand-primary;

$navbar-height: 5rem;
$navbar-background: $bt-brand-faint-alt;

$alert-danger-bg: $bt-brand-secondary-light;
$alert-danger-border: $bt-brand-secondary-light;
$alert-danger-text: rgb(255, 255, 255);

$body-bg: #f9f9f9;

//Nav

// BORDER RADIUS
$default-border-radius: 8px;
$btn-border-radius: 8px;

// INPUT
$input-border-radius: 0px;
$input-height: 40px;
$input-line-height: 25px;
$input-font-size: inherit;
$input-font-weight: 200;
$input-border-color: rgb(224, 224, 224);
$input-placeholder-color: rgb(224, 224, 224);
$input-border-highlight-color: $bt-brand-primary-light;

$pagination-color: #333;

//BUTTONS
$btn-height: 44px;
$btn-secondary-bg: rgb(240, 240, 240);
$btn-primary-bg: #009de2;
$btn-primary-color-hover: white;
$btn-primary-bg-hover: #008fd0;
$btn-primary-light-bg: #61d0de;
$link-hover-color: #f1f1f1;
$link-color-secondary: rgb(90, 90 , 90);
$btn-default-color: white;
$hover-bg: rgb(240, 240, 240);
$hover-color: inherits;

//Panel
$panel-heading-height: 50px;
$panel-bg: #fff;
$panel-heading-bg: #f7f7f7;
$panel-heading-color: #919aa6;
$panel-heading-border: 1px solid #f1f1f1;

//
$panel-icon-color: #36a39c;
$panel-icon-border-color: #ddd;
$panel-icon-background-color: #fff;


//Panel Dark
$panel-alt-heading-bg: #fff;
$panel-alt-heading-color: #fff;

//TABS
$tab-inactive-color: rgba(255, 255, 255, .75);
$tab-active-color: #36a39c;
$tab-line-color: #36a39c;

//SCAFFOLDING
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

//GRID
$input-padding-x: .75rem !default;
$input-padding-y: 1rem !default;

//MODALS
$modal-backdrop-bg: rgba(0, 0, 0, 0.870588);
$modal-header-border-width: 0;
$border-radius-default: 8px;
//TRANSITIONS
$button-transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1);
//Hero
$hero-bg:$bt-brand-faint-alt;

//Aside
$aside-bg:#22354a;
$aside-bg-alt: #2cd6ca;
$aside-bg-brand:#22354a;
$aside-bg-project: #14635d;
$aside-brand-color:#fff;
$aside-link-bg:#283d56;
$aside-link-bg-hover:#384f68;
$aside-link-bg-active:#384f68;
$aside-link-color:#fff;
$aside-link-active:#fff;
$aside-width:250px;

//Toast
$toast-bg:rgba(0,0,0,.9);
$toast-color:white;

$bold: 400;
